*,
::before,
::after {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #434455;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h2 {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.11;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

section {
	padding-bottom: 120px;
	padding-top: 120px;
}

.container {
	max-width: 320px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin: 0 auto;
}

.top-header-bar {
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0 2px 1px #2e2f4214 0 1px 1px #2e2f4229 0 1px 6px #2e2f4214;
}

.top-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.top-header-navigation {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.top-nav-list {
	display: none;
}

a {
	color: #2e2f42;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	font-style: normal;
	/* padding: 24px 0; */
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:active {
	color: #404bbf;
	text-decoration: underline;
	text-decoration-thickness: 4px;
}

a:hover,
a:focus {
	color: #404bbf;
}

.top-nav-menu:hover,
.top-nav-menu:active,
.top-nav-menu:focus {
	color: #404bbf;
}

.contact-info:focus .order-button:hover {
	background-color: #404bbf;
}

a:focus {
	color: #404bbf;
}

.order-button:focus {
	background-color: #404bbf;
}

.logo {
	color: #4d5ae5;
	display: flex;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 1.17;
	margin-right: 76px;
	text-transform: uppercase;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 0;
}

a.logo {
	text-decoration: none;
}

.studio-logo-text {
	color: #2e2f42;
}

.top-nav-menu {
	color: #2e2f42;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	font-style: normal;
	padding: 24px 0;
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
	font-style: normal;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
	display: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info {
	color: #434455;
	font-style: normal;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
}

.contact-info:hover,
.contact-info:active {
	color: #404bbf;
	text-decoration: none;
}

/* -------------- */
/* /\/\/\/\/\/\/\ */
/* HAMBURGER MENU */
/* /\/\/\/\/\/\/\ */
/* -------------- */

.icon-circle {
	width: 40px;
	height: 40px;
}

.sm-link {
	width: 100%;
	height: 100%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sm-link:hover,
.sm-link:focus {
	background-color: #404bbf;
}

.icon-sm {
	fill: #f4f4fd;
}

.menu-hamburger {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: #fff;
	padding-top: 72px;
	padding-left: 16px;
	padding-bottom: 40px;
	padding-right: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateX(100%);
}

.menu-hamburger.is-open-ham {
	transform: translateX(0);
}

.icon-ham {
	fill: #2f2f37;
	cursor: pointer;
}

.icon-ham-menu {
	background-color: transparent;
	border: none;
	padding: 0;
	line-height: 0;
}

.sm-menu.ham {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 48px;
}
.top-nav-list.ham {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 40px;
}
.link.ham.current {
	color: #404bbf;
}
.current::after {
	content: "";
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.ham-nav-list.ham {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0;
}
.link.ham {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	padding: 0;
}
.contact-info.ham {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #434455;
}

.contact-info.ham:hover,
.contact-info.ham:active,
.contact-info.ham:focus {
	color: #4d5ae5;
}

.menu-icon-ham {
	background-color: transparent;
	border: none;
	padding: 0;
	line-height: 0;
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.main-section {
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url(../images/mobile/people-office.jpg);
	max-width: 320px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 72px 0;
	margin: 0 auto;
	background-color: rgb(46, 47, 66);
}

.main-text {
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	max-width: 200px;
	margin: 0 auto;
	margin-bottom: 48px;
}

.order-button {
	background-color: #4d5ae5;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1.5;
	/* margin: 10px; */
	margin: 0 auto;
	/* padding: 16px 32px; */
	height: 56px;
	min-width: 169px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
	background-color: #404bbf;
}

button:hover {
	background-color: #404bbf;
}

h3 {
	color: #2e2f42;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.2;
	text-align: left;
}

.info-section {
	padding: 96px 0;
}

.info-section-icon-box {
	display: none;
}

.info-section-icon use {
	z-index: 999;
	position: absolute;
	top: 24px;
	left: 100px;
}

.info-section p {
	color: #2e2f42;
	text-align: left;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.info-section-list {
	display: flex;
	flex-direction: column;
	row-gap: 72px;
}

.info-section-list-element {
	width: 100%;
	gap: 72px;
}

.info-section-goals {
	color: #2e2f42;
	margin-bottom: 8px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.info-section-goals.mobile-header {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.info-text {
	font-weight: 500;
}

.team-section {
	background-color: #f4f4fd;
	padding: 96px 0;
}

.team-section-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 72px;
}

.team-section-header {
	color: #2e2f42;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.team-section-list-element {
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 6px #2e2f4214 0 1px 1px #2e2f4229 0 2px 1px #2e2f4214;
	text-align: center;
}

.team-section-member {
	margin: 0;
	padding: 32px 0;
	box-shadow: 0 1px 6px #2e2f4214 0 1px 1px #2e2f4229 0 2px 1px #2e2f4214;
}

.team-section-name-header {
	color: #2e2f42;
	margin-bottom: 8px;
	text-align: center;
}

.team-section-name-header.mobile-header {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.team-section-name-paragraph {
	color: #434455;
	font-size: 16px;
	letter-spacing: 0.02em;
	line-height: 1.5;
	text-align: center;
}

.team-section-member-socials {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin: 9px 16px 0 16px;
}

.team-section-member-socials-list-element {
	width: 40px;
	height: 40px;
}

.team-section-member-socials-link {
	width: 100%;
	height: 100%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.team-section-member-socials-link:hover,
.team-section-member-socials-link:focus {
	background-color: #404bbf;
}

.team-section-member-socials-link-icon {
	fill: #f4f4fd;
}

.portfolio-section {
	padding: 96px 0;
}

.portfolio-section-image {
	position: relative;
	overflow: hidden;
}

.portfolio-section-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #4d5ae5;
	color: #f4f4fd;
	padding: 40px 32px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}

.portfolio-section-type {
	font-size: 16px;
	letter-spacing: 0.02em;
	line-height: 24px;
	text-align: left;
}

.portfolio-section-list {
	column-gap: 24px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
	margin: 0 auto;
}

.portfolio-section-list-element {
	width: 100%;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-element:hover .portfolio-section-image-overlay {
	transform: translateY(0);
	box-shadow: 0 2px 1px 0 #2e2f4214 0 1px 1px 0 #2e2f4229 0 1px 6px 0 #2e2f4214;
}

.portfolio-section-list-element:hover,
.portfolio-section-list-element:focus {
	box-shadow: 0 2px 1px 0 #2e2f4214 0 1px 1px 0 #2e2f4229 0 1px 6px 0 #2e2f4214;
}

.portfolio-section-header {
	color: #2e2f42;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.portfolio-element-info {
	border: 1px solid #e7e9fc;
	border-top: none;
	border-top: none;
	padding: 32px 16px;
}

.portfolio-section-element-name {
	color: #2e2f42;
	margin-bottom: 8px;
}

.portfolio-section-type {
	color: #434455;
	margin-bottom: 8px;
}

.footer {
	background-color: #2e2f42;
	padding: 96px 0;
}

.bottom-info {
	display: flex;
	align-items: baseline;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}

.bottom-info-left {
	margin: 0 auto;
}

.footer .logo {
	color: #4d5ae5;
}

.footer span {
	color: #f4f4fd;
}

.bottom-info-text {
	color: #f4f4fd;
	display: block;
	flex-wrap: wrap;
	width: 100%;
}

.bottom-info .logo {
	display: block;
	margin-right: 0;
	align-content: center;
	text-align: center;
	padding: 0;
	margin-bottom: 16px;
}

.bottom-socials {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.bottom-socials-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #fff;
	margin-bottom: 16px;
	display: block;
	text-align: center;
}

.bottom-socials p {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #fff;
	margin-bottom: 16px;
}

.bottom-socials-list {
	display: flex;
	gap: 16px;
}

.bottom-socials-list-element {
	width: 40px;
	height: 40px;
}

.bottom-socials-link {
	width: 100%;
	height: 100%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-socials-link:hover,
.bottom-socials-link:focus {
	background-color: #404bbf;
}

.bottom-socials-link-icon {
	fill: #f4f4fd;
	width: 24px;
	height: 24px;
}

.bottom-socials-link:hover,
.bottom-socials-link:focus {
	background-color: #31d0aa;
}

.current {
	position: relative;
	color: #404bbf;
}

.current::after {
	content: "";
	background-color: #404bbf;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	position: absolute;
	left: 0;
	bottom: -1px;
}

.bottom-subscribe {
	margin: 0;
}

.bottom-subscribe-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #fff;
	margin-bottom: 16px;
	display: block;
	text-align: center;
}

.bottom-subscribe-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	gap: 16px;
}

.bottom-subscribe-email {
	padding-left: 16px;
	border: 1px solid #fff;
	border-radius: 4px;
	width: 264px;
	height: 40px;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	align-content: center;
	align-items: baseline;
	outline: none;
	background-color: transparent;
	box-shadow: 0 4px 4px #00000026;
	opacity: 0.3;
}

.bottom-subscribe-email::placeholder {
	color: #fff;
	font-size: 12px;
	line-height: 2;
	opacity: 0.6;
}

.bottom-subscribe-button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #fff;
	background-color: #4d5ae5;
	padding: 8px 24px;
	border: none;
	border-radius: 4px;
	min-width: 165px;
	height: 40px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.bottom-subscribe-button-icon {
	fill: #fff;
	margin-left: 16px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #2e2f4266;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-container.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 288px;
	min-height: 623px;
	box-shadow: 0 1px 1px 0 #00000024 0 1px 3px 0 #0000001f 0 2px 1px 0 #0003;
	background: #fcfcfc;
	padding: 72px 24px 24px;
	border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.modal-text {
	text-align: center;
	color: #2e2f42;
	font-weight: 500;
	margin-bottom: 16px;
}

.modal-form-field {
	margin-bottom: 8px;
}

.modal-form-field:focus-within {
	border-color: #4d5ae5;
}

.modal-form-field:focus-within .icon-form {
	fill: #4d5ae5;
}

.last {
	margin-bottom: 16px;
}

.field {
	width: 100%;
	height: 40px;
	position: relative;
}

.icon-form {
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	fill: #2e2f42;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field {
	width: 100%;
	height: 40px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	outline: transparent;
	border-radius: 4px;
	background-color: transparent;
	padding-left: 38px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border: 1px solid #2e2f4266;
}

.text-field:focus {
	border-color: #4d5ae5;
}

.field-description {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
	padding: 0;
	display: block;
	margin-bottom: 4px;
}

.comment-section {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	outline: transparent;
	padding: 8px 16px;
	border: 1px solid #2e2f4266;
	border-radius: 4px;
	width: 100%;
	height: 120px;
	resize: none;
	color: #2e2f4266;
	background-color: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-section:focus-within {
	border-color: #4d5ae5;
}

.send-btn {
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #fff;
	box-shadow: 0 4px 4px 0 #00000026;
	background-color: #4d5ae5;
	border-radius: 4px;
	padding: 16px 32px;
	min-width: 169px;
	height: 56px;
	border: none;
	margin: 0 auto;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	top: 24px;
	right: 24px;
	background-color: #e7e9fc;
	fill: #2e2f42;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.modal-close:active,
.modal-close:hover,
.modal-close:focus {
	background-color: #404bbf;
	border: none;
	fill: #fff;
}

.icon-form-close {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept {
	display: flex;
	margin-bottom: 24px;
}

.checkbox {
	border-radius: 2px;
	border: 1px solid #2e2f4266;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.checkbox:active {
	background-color: #404bbf;
}

.privacy {
	width: 16px;
	height: 16px;
	border: 1px solid #2e2f4266;
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
}

.check {
	cursor: pointer;
}

.check:checked + .field-description span {
	background-color: #404bbf;
	border: none;
	fill: #f4f4fd;
}

.privacy-link {
	color: #4d5ae5;
}

/* ------ */
/* ------ */
/* TABLET */
/* ------ */
/* ------ */

@media (min-width: 768px) {
	.container {
		min-width: 768px;
	}

	.logo {
		margin-right: 120px;
	}

	.top-nav-list {
		display: flex;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		padding: 24px 0;
		gap: 40px;
	}

	.top-nav-menu:active {
		text-decoration: none;
	}

	.current {
		position: relative;
		color: #404bbf;
	}

	.current::after {
		content: "";
		background-color: #404bbf;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		position: absolute;
		left: 0;
		bottom: -1px;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.contact-list {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		justify-content: flex-end;
	}

	.contact-info {
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: 0.04em;
		text-align: left;
	}

	.main-section {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../images/tablet/people-office.jpg);
		min-width: 768px;
		padding: 112px 0;
	}

	.main-text {
		font-size: 56px;
		font-weight: 700;
		line-height: 60px;
		letter-spacing: 0.02em;
		text-align: center;
		/* min-width: 496px; */
		max-width: 496px;
		margin-bottom: 36px;
	}

	.order-button {
		box-shadow: 0px 4px 4px 0px #00000026;
	}

	.info-section-list {
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
	}

	.info-section-list-element {
		width: calc((100% - 24px) / 2);
		gap: 72px;
	}

	.info-section-goals.mobile-header {
		font-size: 36px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0.02em;
		text-align: left;
	}

	.team-section-list {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		column-gap: 24px;
		row-gap: 64px;
	}

	.portfolio-section-list {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		column-gap: 24px;
		row-gap: 72px;
	}

	.portfolio-section-list-element {
		width: calc((100% - 24px) / 2);
	}

	.bottom-info {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		column-gap: 24px;
		row-gap: 72px;
		align-items: baseline;
		max-width: 530px;
	}

	.bottom-info-left {
		margin: 0;
		margin-left: 108px;
	}

	.bottom-info-left .logo {
		text-align: left;
	}

	.bottom-info-text {
		width: 264px;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}

	.bottom-socials-title {
		text-align: left;
	}

	.bottom-subscribe {
		margin: 0;
		margin-left: 108px;
	}

	.bottom-subscribe-title {
		text-align: left;
	}

	.bottom-subscribe-form {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		gap: 24px;
	}

	.bottom-subscribe-email {
		opacity: 0.3;
	}

	.bottom-subscribe-email::placeholder {
		font-weight: 400;
		font-size: 12px;
		line-height: 2;
		opacity: 0.6;
	}

	.menu-hamburger.is-open-ham {
		display: none;
	}

	.modal {
		min-width: 408px;
		min-height: 584px;
	}

	img {
		min-width: auto;
	}

	.icon-ham-menu {
		display: none;
	}
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
	.main-section {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../images/tablet/people-office@2x.jpg);
	}
}

/* ------- */
/* DESKTOP */
/* ------- */

@media (min-width: 1440px) {
	.container {
		max-width: 1158px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.logo {
		padding: 0;
		margin-right: 76px;
	}

	.top-nav-list,
	.contact-list {
		flex-direction: row;
	}

	.contact-list {
		gap: 40px;
		padding: 24px 0;
		margin-right: 0;
		justify-content: flex-end;
	}

	.contact-info {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}

	.main-section {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../images/desktop/people-office.jpg);
		min-width: 1440px;
		padding: 188px 0;
	}

	.info-section-icon-box {
		display: block;
		background: #f4f4fd;
		border: 1px solid #8e8f99;
		border-radius: 4px;
		width: 264px;
		height: 112px;
		margin-bottom: 8px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.info-section-icon {
		position: absolute;
		top: 24px;
		left: 100px;
	}

	.info-section-goals.mobile-header {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.02em;
		text-align: left;
	}

	.info-text {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.02em;
		text-align: left;
	}

	.info-section-list li {
		width: calc((100% - 72px) / 4);
	}

	.team-section {
		padding: 120px 0;
	}

	.team-section-name-header.desktop-header {
		font-size: 20px;
		font-weight: 500;
	}

	.team-section-name-paragraph {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.02em;
		text-align: center;
	}

	.portfolio-section-list {
		column-gap: 24px;
		row-gap: 48px;
	}

	.portfolio-section-list-element {
		width: calc((100% - 48px) / 3);
	}

	.bottom-info {
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: baseline;
	}

	.footer {
		height: 312px;
		padding: 100px 0;
	}

	.bottom-info-left {
		margin: 0;
		margin-right: 120px;
	}

	.bottom-info-text {
		width: 264px;
	}

	.bottom-subscribe {
		margin-left: auto;
	}

	footer .logo {
		display: inline-block;
		margin-bottom: 16px;
		text-align: left;
	}

	.bottom-subscribe-email {
		opacity: 1;
	}

	.bottom-subscribe-email::placeholder {
		color: white;
		opacity: 1;
	}

	.modal {
		width: 408px;
		min-height: 584px;
		padding: 72px 24px 24px 24px;
	}
}
@media (min-width: 1158px) and (min-resolution: 192dpi) {
	.main-section {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../images/desktop/people-office@2x.jpg);
	}
}
